# Assignment 2 - Data Analyst Course
##### in this section you'll find the code and extra notes to analyse the 'Movie' dataset for the Udacity - Data Analyst Nanoodegree
##### changes of the project will be saved by version control tool, GIT. The project will also be posted on GitHub as an extra excercise 
##### I'v set up the Jupyter Notebook locally to have an extra excercise 
##### Below you can find my assignment

<a id='intro'></a>
## Introduction

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected for analysis. At the end of this section, describe the questions that you plan on exploring over the course of the report. Try to build your report around the analysis of at least one dependent variable and three independent variables. If you're not sure what questions to ask, then make sure you familiarize yourself with the dataset, its variables and the dataset context for ideas of what to explore.

> If you haven't yet selected and downloaded your data, make sure you do that first before coming back here. In order to work with the data in this workspace, you also need to upload it to the workspace. To do so, click on the jupyter icon in the upper left to be taken back to the workspace directory. There should be an 'Upload' button in the upper right that will let you add your data file(s) to the workspace. You can then click on the .ipynb file name to come back here.

In [76]:
# first task: import packages & import the data
# the data can be found on 'tmdb-movies.csv'
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sn

# we want the visualizations to be displayed in our notebook. Therefor we need to insert next line
%matplotlib inline

movies=pd.read_csv('tmdb-movies.csv')

# we'll print the head of the data to have a first glimps and to get to know the dataset
print(movies.head)

<bound method NDFrame.head of            id    imdb_id  popularity     budget     revenue  \
0      135397  tt0369610   32.985763  150000000  1513528810
1       76341  tt1392190   28.419936  150000000   378436354
2      262500  tt2908446   13.112507  110000000   295238201
3      140607  tt2488496   11.173104  200000000  2068178225
4      168259  tt2820852    9.335014  190000000  1506249360
...       ...        ...         ...        ...         ...
10861      21  tt0060371    0.080598          0           0
10862   20379  tt0060472    0.065543          0           0
10863   39768  tt0060161    0.065141          0           0
10864   21449  tt0061177    0.064317          0           0
10865   22293  tt0060666    0.035919      19000           0

                     original_title  \
0                    Jurassic World
1                Mad Max: Fury Road
2                         Insurgent
3      Star Wars: The Force Awakens
4                         Furious 7
...                             ...
10861            The Endless Summer
10862                    Grand Prix
10863           Beregis Avtomobilya
10864        What's Up, Tiger Lily?
10865      Manos: The Hands of Fate

                                                    cast  \
0      Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1      Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2      Shailene Woodley|Theo James|Kate Winslet|Ansel...
3      Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4      Vin Diesel|Paul Walker|Jason Statham|Michelle ...
...                                                  ...
10861  Michael Hynson|Robert August|Lord 'Tally Ho' B...
10862  James Garner|Eva Marie Saint|Yves Montand|Tosh...
10863  Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...
10864  Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...
10865  Harold P. Warren|Tom Neyman|John Reynolds|Dian...

                                                homepage            director  \
0                          http://www.jurassicworld.com/     Colin Trevorrow
1                            http://www.madmaxmovie.com/       George Miller
2         http://www.thedivergentseries.movie/#insurgent    Robert Schwentke
3      http://www.starwars.com/films/star-wars-episod...         J.J. Abrams
4                               http://www.furious7.com/           James Wan
...                                                  ...                 ...
10861                                                NaN         Bruce Brown
10862                                                NaN  John Frankenheimer
10863                                                NaN      Eldar Ryazanov
10864                                                NaN         Woody Allen
10865                                                NaN    Harold P. Warren

                                                 tagline  ...  \
0                                      The park is open.  ...
1                                     What a Lovely Day.  ...
2                             One Choice Can Destroy You  ...
3                          Every generation has a story.  ...
4                                    Vengeance Hits Home  ...
...                                                  ...  ...
10861                                                NaN  ...
10862  Cinerama sweeps YOU into a drama of speed and ...  ...
10863                                                NaN  ...
10864                          WOODY ALLEN STRIKES BACK!  ...
10865       It's Shocking! It's Beyond Your Imagination!  ...

                                                overview runtime  \
0      Twenty-two years after the events of Jurassic ...     124
1      An apocalyptic story set in the furthest reach...     120
2      Beatrice Prior must confront her inner demons ...     119
3      Thirty years after defeating the Galactic Empi...     136
4      Deckard Shaw seeks revenge against Dominic Tor...     137
...                                                  ...     ...
10861  The Endless Summer, by Bruce Brown, is one of ...      95
10862  Grand Prix driver Pete Aron is fired by his te...     176
10863  An insurance agent who moonlights as a carthie...      94
10864  In comic Woody Allen's film debut, he took the...      80
10865  A family gets lost on the road and stumbles up...      74

                                          genres  \
0      Action|Adventure|Science Fiction|Thriller
1      Action|Adventure|Science Fiction|Thriller
2             Adventure|Science Fiction|Thriller
3       Action|Adventure|Science Fiction|Fantasy
4                          Action|Crime|Thriller
...                                          ...
10861                                Documentary
10862                     Action|Adventure|Drama
10863                             Mystery|Comedy
10864                              Action|Comedy
10865                                     Horror

                                    production_companies release_date  \
0      Universal Studios|Amblin Entertainment|Legenda...       6/9/15
1      Village Roadshow Pictures|Kennedy Miller Produ...      5/13/15
2      Summit Entertainment|Mandeville Films|Red Wago...      3/18/15
3              Lucasfilm|Truenorth Productions|Bad Robot     12/15/15
4      Universal Pictures|Original Film|Media Rights ...       4/1/15
...                                                  ...          ...
10861                                  Bruce Brown Films      6/15/66
10862  Cherokee Productions|Joel Productions|Douglas ...     12/21/66
10863                                            Mosfilm       1/1/66
10864                            Benedict Pictures Corp.      11/2/66
10865                                          Norm-Iris     11/15/66

      vote_count  vote_average  release_year    budget_adj   revenue_adj
0           5562           6.5          2015  1.379999e+08  1.392446e+09
1           6185           7.1          2015  1.379999e+08  3.481613e+08
2           2480           6.3          2015  1.012000e+08  2.716190e+08
3           5292           7.5          2015  1.839999e+08  1.902723e+09
4           2947           7.3          2015  1.747999e+08  1.385749e+09
...          ...           ...           ...           ...           ...
10861         11           7.4          1966  0.000000e+00  0.000000e+00
10862         20           5.7          1966  0.000000e+00  0.000000e+00
10863         11           6.5          1966  0.000000e+00  0.000000e+00
10864         22           5.4          1966  0.000000e+00  0.000000e+00
10865         15           1.5          1966  1.276423e+05  0.000000e+00

[10866 rows x 21 columns]>

In [77]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.

print(movies.dtypes)

id                        int64
imdb_id                  object
popularity              float64
budget                    int64
revenue                   int64
original_title           object
cast                     object
homepage                 object
director                 object
tagline                  object
keywords                 object
overview                 object
runtime                   int64
genres                   object
production_companies     object
release_date             object
vote_count                int64
vote_average            float64
release_year              int64
budget_adj              float64
revenue_adj             float64
dtype: object

In [82]:
# as we know the datatypes of each column, we can now check if every column has the right type
# the release date is still formatted as a string, this must be changed to the datetime class
from datetime import datetime
print(movies['release_date'])
# the string is formated: %m/%d/%Y
# i tried to use the to_datetime function but the datetime is not zero parsed, therefor my format would not work
# i can not find a solution to this using the datetime package so I'll add the zero's manipulating the string
movies['release_date']=pd.to_datetime(movies['release_date'],format="%m/%d/%y")

0       2015-06-09
1       2015-05-13
2       2015-03-18
3       2015-12-15
4       2015-04-01
           ...
10861   2066-06-15
10862   2066-12-21
10863   2066-01-01
10864   2066-11-02
10865   2066-11-15
Name: release_date, Length: 10866, dtype: datetime64[ns]

##### NO LONGER NEEDED!! I used the wrong format= in the previous excercise. This way the to_datetime function would not work.
##### I found a solution manipulating the strings
##### This was my solution but it is no longer needed
##### -------------------------------------------------------------------------------
##### i tried to use the to_datetime function but the datetime is not zero parsed, therefor my format would not work
##### i can not find a solution to this using the datetime package so I'll add the zero's manipulating the string
##### i must admit this method is not the best method but I could not find a better solution to format the string to a date type

```datum=[]
datum=movies['release_date'].str.split("/"
right_format_date=[]
for dat in datum:
    month=dat[0]
    day=dat[1]
    year=dat[2]
    if len(dat[0])==1:
        month="0"+dat[0]
    elif len(dat[1])==1:
        day="0"+dat[1]
    dat=str(month+"/"+day+"/"+year)
    right_format_date.append(dat)
formated_date=pd.DataFrame(right_format_date)
movies['release_date']=formated_date
movies['release_date']=pd.to_datetime(movies['release_date'],format="%m/%d/%y")```